<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/Inicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
<link rel="icon" type="image/vnd.icon" href="templates/Imagenes/favicon.ico" >
    <title>AUTOPINAR</title>
</head>
<body >
 <!--  <header class="header01">

    </header>-->
    <div class="ody"> 
    <main class="Main01">
        <section class="Izquierda">
            <h1 id="Titulo01">AUTOPINAR</h1>
            <h2 id="Subtitulo01">DISTRIBUIDOR NACIONAL DE AUTOPARTES</h2>
            <img src="templates/Imagenes/Logo.jpg" alt="Logo de la empresa" id="Logo01">
        </section>
        <section class="Derecha">
            <a href="templates/Productos.html" class="Productos01" style="text-decoration: none;" >Productos</a>
            <a href="templates/Contactos.html" class="Contactos01" style="text-decoration: none;">Contactos</a>
            <a href="templates/Registrarse.html" class="Registrarse01" style="text-decoration: none;">Registrarse</a>
        </section>
    </main>
</div>
    <footer class="Footer00" >
        <section class="Footer01">
        <img src="Imagenes/LogoFacebook.png" alt="Logo Facebook" height="50px" width="50px" id="LogoFacebook">
        <img src="Imagenes/LogoWhatsap.png" alt="Logo Whatsapp" height="50px" width="50px" id="LogoWhatsapp">
        <img src="Imagenes/LogoInstagram.png" alt="Logo Instagram" height="50px" width="50px" id="LogoInstagram">
        </section>
        <section class="Footer002">
            <p id="Derechos">&copy; Python-Front End 2023-1. Integrantes: Nahuel Balderramo, Yessica Pereira y Yutzura Marcano.<br>Todos los derechos reservados.</p>
        </section>

    </footer>
</body>
</html>